:root {
    --primary-color: #00285F;
    --secondary-color: #F78B00;
    --navbar-height: 60px;
    
}

.primary-color {
    color: var(--primary-color);
}

.primary-bg-color {
    background-color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.secondary-bg-color {
    background-color: var(--secondary-color);
}

.white-color {
    color: #fff;
}

body {
    background-color: #E5E5E5;
}

#page-container {
    min-height: 100vh;
}

/* NAVBAR */

#navbar a,
#navbar a.active {
    color: var(--primary-color);
}

#navbar a.active {
    font-weight: bold;
}

#navbar button {
    color: var(--primary-color)
}

#navbar {
    min-height: var(--navbar-height);
}

@media (min-width: 768px) {
    #navbar {
        max-height: var(--navbar-height);
    }
}

.navbar-nav {
    display: flex;
    width: 100%;
    justify-content: end;
}

.navbar-nav .nav-link {
    margin-left: 1em;
    margin-right: 1em;
}

/* CONTENT CONTAINER */

#content-container {
    min-height: calc(100vh - var(--navbar-height));
    padding-top: 1em;
    padding-bottom: 1em;
}

#main-card-container {
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    padding-top: 3em;
    padding-bottom: 3em;
    border-radius: 10px;
}

#main-card-container img {
    margin-bottom: 1em;
    width: 80%;
}

#main-card-container h1 {
    font-size: 1.4em;
    margin-bottom: 0.8em;
}

#main-card-container p {
    font-size: 0.8em;
    width: 95%;
    margin: 0 auto;
}

/* BOTTOM CARD */

#bottom-card-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #EDEDED;
    border-radius: 10px;
    padding-top: 2em;
    padding-bottom: 2em;
}

#bottom-card-container button {
    color: #fff;
    font-size: 1em;
    transition: 0.8s;
    font-weight: bold;
}

#bottom-card-container button:hover,
#bottom-card-container button:focus {
    color: var(--primary-color);
    background-color: #FFF;
    border-color: var(--primary-color);
}

#bottom-card-container p {
    color: #585858;
    margin-top: 0.6em;
    font-size: 1.2em;
}

/* BOTTOM CARD CONTAINER */

#bottom-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bottom-card-container button {
    width: 50%;
    max-width: 200px;
}

@media (min-width: 576px) {
    #main-card-container h1 {
        font-size: 2.5em;
        margin-bottom: 0.2em;
    }
    
    #main-card-container p {
        font-size: 1.2em;
        width: 85%;
    }
    
    #bottom-card-container {
        flex-direction: row;
    }

    #bottom-card-container p {
        margin-top: 0em;
    }

    #bottom-card-container button {
        margin-right: 1em;
    }

    #main-card-container img {
        width: 70%;
    }

    #content-container {
        padding: 1.5em;
    }
}

@media (min-width: 768px) {
    #main-card-container img {
        width: 55%;
        margin-bottom: 0;
    }

    #main-card-container h1 {
        font-size: 3em;
        margin-bottom: 0.2em;
    }
    
    #main-card-container p {
        font-size: 1.4em;
        width: 65%;
    }

    #content-container {
        padding: 2em;
    }
}

@media (min-width: 992px) {
    #main-card-container {
        border-radius: 20px;
    }

    #main-card-container img {
        width: 50%;
        margin-bottom: 0;
    }

    #main-card-container h1 {
        font-size: 3em;
        margin-bottom: 0.2em;
    }
    
    #main-card-container p {
        font-size: 1.4em;
        width: 50%;
    }
}

@media (min-width: 1200px) {
    #card-content-container {
        text-align: left;
    }

    #main-card-container h1 {
        font-size: 2.8em;
    }

    #main-card-container p {
        margin: 0;
        width: 80%;
    }

    #main-card-container img {
        width: 80%;
    }

    #main-card-container {
        padding: 0 3em;
        min-height: 55vh;
    }

    #bottom-card-container p {
        font-size: 1.5em;
    }

    #bottom-card-container button {
        font-size: 1.5em;
        width: 40%;
        max-width: 300px;
    }
}

@media (min-width: 1400px) {
    #main-card-container {
        min-height: 60vh;
    }
    
    #main-card-container h1 {
        font-size: 3.5em;
    }

    #main-card-container p {
        font-size: 1.8em;
    }

    #main-card-container img {
        width: 100%;
    }
}